@charset "UTF-8";
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select { /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

:root {
  --main-one-color: #2196F3;
  --main-to-color: #757575;
  --main-sir-color: #FFFFFF;
  --main-fa-color: #2F303A;
  --main-se-color: #212121;
  --main-so-color: #F5F4FA ;
  --main-sr-color: #000000;
  --main-btn-color: #188CE8;
  --main-icn-cololor:#F5F5F5;
  --main-icon-color: #AFB1B8;
}

.box-p, .portfolio-list, .sotsial__list, .link__sots, .wrup__ul, .menu-list__item, .menu-list__link, .menu-list__icon, .menu-list, .section-tehnology__svg, .section-item__wraper, .header__list, .menu-list__svg, .button-footer__text, .modal-close, .button-form, .privacy-icon, .privacy-wrapp, .privacy {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-p, .portfolio-list, .button-form, .form-title, .container {
  margin-left: auto;
  margin-right: auto;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

body {
  font-family: "Roboto", "Times New Roman", sans-serif;
}

html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

header {
  border-bottom: 1px solid #ECECEC;
}

img {
  display: block;
}

a {
  text-decoration: none; /* Отменяем подчеркивание у ссылки */
}

a {
  margin: 0px;
}

li, ul {
  list-style-type: none; /* Убираем маркеры */
  padding: 0px;
  margin: 0px;
}

h1 {
  text-transform: uppercase; /* Заглавные буквы */
}

h1, h2, h3, p, header, main {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul {
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

.container {
  align-items: center;
}
@media screen and (max-width: 480px) {
  .container {
    width: 100%;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.active {
  display: inline-block;
}

.img-block {
  display: block;
  border-radius: 0px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

source {
  display: block;
}

@media screen and (max-width: 767px) {
  div.container.footer-container {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
}

.container-portfolio {
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 767px) {
  div.container.container-header {
    width: 100%;
  }
}

/*форма*/
.form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  color: var(--main-se-color);
}
@media screen and (max-width: 1199px) {
  .form-title {
    font-size: 20px;
    line-height: 1.5;
  }
}

.label {
  display: block;
  margin-bottom: 4px;
}

.label-text, .input {
  display: inline;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.field {
  height: 40px;
  position: relative;
  margin-bottom: 5px;
}

.input {
  display: block;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input:focus {
  border-color: var(--main-one-color);
}

.field-input {
  padding: 11px 15px 11px 40px;
}

.field-icon {
  fill: var(--main-se-color);
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.field-input:focus + .field-icon {
  fill: var(--main-one-color);
}

.message {
  height: 120px;
  padding: 15px;
  margin-bottom: 20px;
  resize: none;
}

.message::-moz-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.message:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.message::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.privacy {
  margin-bottom: 30px;
}

.privacy-wrapp {
  width: 16px;
  height: 15px;
  border: 2px solid;
  border-color: var(--main-se-color);
  border-radius: 2px;
  transition: opacity border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--main-sir-color);
  background-color: var(--main-sir-color);
}

.privacy-icon {
  opacity: 0;
}

.privacy-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  bottom: 0;
  padding: 0px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.privacy-input:checked + .privacy-wrapp {
  border: transparent;
  background-color: #188CE8;
}

.privacy-input:checked + .privacy-wrapp .privacy-icon {
  opacity: 1;
}

.privacy-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  margin-left: 9px;
  color: var(--main-to-color);
}
@media screen and (max-width: 1199px) {
  .privacy-text {
    font-size: 12px;
    line-height: 1.7;
    letter-spacing: 0.03em;
  }
}

.privacy-link {
  color: var(--main-one-color);
  text-decoration: underline;
}

.button-form {
  width: 200px;
  padding: 0px;
  border: 0px;
  height: 50px;
  color: var(--main-sir-color);
  background-color: var(--main-one-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: 528px;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms;
  border-radius: 4px;
  background: var(--main-sir-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 320px) {
  .modal {
    max-width: 95%;
  }
}
@media screen and (min-width: 480px) {
  .modal {
    max-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
  }
}

.modal-close {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  padding: 0;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover {
  fill: var(--main-one-color);
}

.footer-div__mail, .footer-input__mail {
  display: flex;
  align-items: center;
  width: 358px;
  height: 50px;
  border: 0px;
  border: 1px solid var(--main-sir-color);
  border-radius: 4px;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--main-fa-color);
}
@media screen and (max-width: 1199px) {
  .footer-div__mail, .footer-input__mail {
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .footer-div__mail, .footer-input__mail {
    display: flex;
    gap: 12px;
  }
}
@media screen and (max-width: 767px) {
  .footer-div__mail, .footer-input__mail {
    width: 100%;
  }
}

.footer-batton {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.25;
  color: var(--main-sir-color);
}
@media screen and (min-width: 1200px) {
  .footer-batton {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 12px;
  }
}

.button-footer__text {
  padding: 0px;
  border: 0px;
  padding-left: 28px;
  padding-right: 28px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--main-sir-color);
  background-color: var(--main-btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  letter-spacing: 0.06em;
}
@media screen and (max-width: 1199px) {
  .button-footer__text {
    margin-left: auto;
    margin-right: auto;
  }
}

.svg-send {
  margin-left: 10px;
}

/* Анимация */
.portfolio-list__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--main-sir-color);
}

.portfolio-list__img-wrap:hover .portfolio-list__box-img {
  transform: translatex(0);
}

.portfolio-list__box-img {
  position: absolute;
  padding: 63px 24px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-one-color);
  transform: translateY(101%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list__img-wrap {
  height: 294px;
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 350px) and (max-width: 767px) {
  .portfolio-list__img-wrap {
    width: 450px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-list__img-wrap {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-list__img-wrap {
    width: 370px;
  }
}

.svg__foot, .svg-foot {
  background-color: rgba(255, 255, 255, 0.1);
}

.icon-tel-heder {
  display: inline-block;
}

.menu-list__svg {
  width: 106px;
  height: 60px;
}

.div_anime {
  display: flex;
  align-items: center;
  fill: var(--main-to-color);
  gap: 10px;
}
.div_anime:hover, .div_anime:focus {
  color: var(--main-one-color);
  fill: var(--main-one-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*animashn*/
.animashn::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  background-color: var(--main-one-color);
  height: 4px;
  left: 0px;
  top: 46px;
  border-radius: 2px;
  transform: scaleX(0);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.animashn:hover:after {
  transform: scaleX(1);
}

.header__list, .header__list-two {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
  margin: 0px;
}

.header__list-two {
  gap: 32px;
}
@media screen and (min-width: 1200px) {
  .header__list-two {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .header__list-two {
    margin-left: auto;
  }
}

.promo {
  color: var(--main-se-color);
}

.navigation-li {
  color: var(--main-to-color);
}

.active:hover, .active:focus {
  color: var(--main-one-color);
  fill: #188CE8;
}

.navigation-a, .navigation-bi {
  color: var(--main-one-color);
}

.navigation-a, .animashn, .navigation-bi {
  position: relative;
}

.navigation-a::after, .navigation-bi::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  background-color: var(--main-one-color);
  height: 4px;
  left: 0px;
  top: 46px;
  border-radius: 2px;
}

.tel-heder {
  width: 10px;
  height: 16px;
}

.mail-heder {
  width: 16px;
  height: 12px;
}

/*
.mail-heder,.tel-heder {
    margin-right: 10px;
}
*/
.heder__n {
  color: var(--main-one-color);
}

.heder__a {
  color: var(--main-se-color);
}

.header__wrapper-q {
  display: flex;
  justify-content: start;
}
@media screen and (min-width: 1200px) {
  .header__wrapper-q {
    flex-wrap: wrap;
    align-items: baseline;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__wrapper-q {
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    display: flex;
  }
}
@media screen and (max-width: 767px) {
  .header__wrapper-q {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__list-icon {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.38;
  color: var(--main-sr-color);
  display: inline-block;
}

.logo-web, .logo-b {
  color: var(--main-one-color);
}

.logo-a, .logo-wite {
  color: var(--main-sir-color);
}

.logo-a.active {
  margin-bottom: 20px;
}

a.logo.active.logo-activ {
  padding-top: 20px;
  padding-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  a.logo.active.logo-activ {
    margin-right: 93px;
  }
}

.hero {
  background-color: var(--main-fa-color);
  text-align: center;
  padding-bottom: 200px;
  padding-top: 200px;
  margin: 0 auto;
  justify-content: center;
  /*background-image:linear-gradient(rgba(47, 48, 58, 0.4)
   ,rgba(47, 48, 58, 0.5)
   ), url(../images/img1/hero.jpg); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  outline: 1px solid black;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .hero {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
  }
}
@media screen and (max-width: 480px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.5)), url(../images/hero/hero-mob1x.jpg);
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.5)), url(../images/hero/hero-tab1x.jpg);
  }
}
@media screen and (min-width: 769px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.5)), url(../images/hero/hero-1x.jpg);
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (--webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (--o-min-webdevice-pixel-ratio: 2/1), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.5)), url(../images/hero/hero-2x.jpg);
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (max-width: 768px) and (--webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (max-width: 768px) and (--o-min-webdevice-pixel-ratio: 2/1), screen and (min-width: 481px) and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (max-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (max-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.5)), url(../images/hero/hero-tab2x.jpg);
  }
}
@media screen and (max-width: 480px) and (min-device-pixel-ratio: 2), screen and (max-width: 480px) and (--webkit-min-device-pixel-ratio: 2), screen and (max-width: 480px) and (--o-min-webdevice-pixel-ratio: 2/1), screen and (max-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 480px) and (min-resolution: 192dpi), screen and (max-width: 480px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.5)), url(../images/hero/hero-mob2x.jpg);
  }
}
.hero-big {
  /* width: 700px;*/
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--main-sir-color);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
@media screen and (max-width: 1199px) {
  .hero-big {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    color: var(--main-sir-color);
    text-align: center;
    max-width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-big {
    width: 696px;
  }
}

.bot-button {
  border: 0px;
  width: 216px;
  height: 50px;
  background-color: var(--main-one-color);
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--main-sir-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.bot-button:hover, .bot-button:focus {
  background-color: var(--main-btn-color);
}

.hidden__header {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

/*not(:last-child)*/
@media screen and (max-width: 767px) {
  .section-tehnology__item {
    padding-top: 30px;
  }
}

@media screen and (max-width: 767px) {
  .title {
    margin-top: 60px;
    display: inline-block;
  }
}

@media screen and (max-width: 767px) {
  .section-tehnology__item:last-child {
    padding-bottom: 30px;
  }
}

.section-tehnology__item {
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .section-tehnology__item {
    width: calc((100% - 60px) / 2);
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .section-tehnology__item {
    width: calc((100% - 120px) / 4);
  }
}
@media screen and (max-width: 767px) {
  .section-tehnology__item {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .section-list__tehnology {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    justify-content: center;
    gap: 30px;
  }
}

.section-item__wraper {
  border-radius: 4px;
  background: var(--main-so-color);
  height: 120px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .section-item__wraper {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section-item__wraper {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .section-item__wraper {
    width: 100%;
  }
}

.section-tehnology__headline {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  color: var(--main-se-color);
}
@media screen and (max-width: 767px) {
  .section-tehnology__headline {
    text-align: center;
  }
}

.section-tehnology__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--main-to-color);
}
@media screen and (min-width: 768px) {
  .section-tehnology__text {
    padding-bottom: 30px;
  }
}

.section-tehnology__svg {
  width: 70px;
  height: 70px;
}

@media screen and (min-width: 1200px) {
  .section__tehnology {
    padding-bottom: 64px;
    padding-top: 94px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section__tehnology {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .section__tehnology-foto {
    padding-bottom: 94px;
  }
}

@media screen and (max-width: 1199px) {
  .revievs {
    display: none;
  }
}

.section-foto__list {
  display: flex;
  justify-content: space-between;
}

.section-foto__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  color: var(--main-sir-color);
  text-transform: uppercase;
}

.section-foto__wraper {
  width: 370px;
  padding: 0px;
  position: absolute;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
  background: rgba(47, 48, 58, 0.8);
  left: 0;
  bottom: 0;
}

.section-foto__link {
  position: relative;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--main-se-color);
  text-align: center;
  margin-bottom: 50px;
}

.section-frend__subtitle, .portfolio-items__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  color: var(--main-se-color);
}

.section-frend__subtitle {
  margin-bottom: 10px;
}

.section-frend__subtitle, .section-frend__text {
  text-align: center;
}

.section-frend__text {
  font-size: 16px;
  line-height: 1.17;
  color: var(--main-to-color);
  padding-bottom: 16px;
}

.section-frend__list {
  margin: 0px;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .section-frend__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .section-frend__list {
    display: flex;
    justify-content: space-between;
  }
}

.section-frend {
  background-color: var(--main-so-color);
}
@media screen and (min-width: 1200px) {
  .section-frend {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section-frend {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (max-width: 767px) {
  .section-frend {
    padding-bottom: 60px;
  }
}

.section-frend__link {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
  background-color: var(--main-sir-color);
  justify-content: center;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section-frend__link {
    width: calc((100% - 60px) / 2);
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}

@media screen and (max-width: 767px) {
  .section-frend__link:not(:last-child) {
    margin-bottom: 30px;
  }
}

.section-frend__img {
  display: block;
}
@media screen and (max-width: 767px) {
  .section-frend__img {
    max-width: 450px;
    max-height: 460px;
  }
}
@media screen and (min-width: 768px) {
  .section-frend__img {
    max-width: 354px;
    max-height: 374px;
  }
}
@media screen and (min-width: 1200px) {
  .section-frend__img {
    max-width: 270px;
    max-height: 260px;
  }
}

source {
  display: block;
}

.footer {
  box-sizing: border-box;
  background: var(--main-fa-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-wrap {
  align-items: flex-start;
}

.adress-b, .adress-c, .adress-bi, .adress-ci, .adress-a {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--main-sir-color);
  font-style: normal;
  opacity: 0.6;
}

.adress-a {
  opacity: 1;
}

.adress-li-a {
  margin-bottom: 9px;
}

.adress-li-a:last-child {
  margin-bottom: 0;
}

.footer__icon {
  fill: var(--main-sir-color);
}

.navigation-ai, .navigation-a {
  display: inline-block;
}

.navigation-bi, .navigation-b {
  display: inline-block;
}

.navigation-ci, .navigation-c {
  display: inline-block;
}

.navigation-di, .navigation-aa {
  display: inline-block;
}

.navigation-ii, .navigation-bb {
  display: inline-block;
}

.navigation-b, .navigation-bi {
  margin-left: 50px;
  margin-right: 50px;
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

.text__footer {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  color: var(--main-sir-color);
  margin-bottom: 20px;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .text__footer {
    margin-top: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .text__footer {
    text-align: center;
  }
}

.sotsial__footer {
  justify-content: start;
}

.link__sots_foot {
  background-color: rgba(255, 255, 255, 0.1);
}

@media screen and (max-width: 767px) {
  .sotsial__list.sotsial__footer {
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__tablet {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__tablet {
    display: flex;
    justify-content: start;
    align-items: baseline;
    gap: 70px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-wraper__logo {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__tablet {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .footer-wrap__desctop, .footer-wraper__logo-desctop {
    display: none;
  }
}

.menu-list {
  flex-wrap: wrap;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media screen and (max-width: 1199px) {
  .menu-list {
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .menu-list {
    padding-bottom: 94px;
  }
}

@media screen and (max-width: 767px) {
  .menu-list__link {
    width: calc((100% - 60px) / 2);
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .menu-list__link {
    width: calc((100% - 90px) / 3);
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .menu-list__link {
    width: calc((100% - 180px) / 6);
  }
}

.menu-list__item {
  width: 100%;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  fill: var(--main-icon-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-list__item:focus, .menu-list__item:hover {
  fill: var(--main-one-color);
  border-color: var(--main-one-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.wrup__ul {
  padding-top: 94px;
  flex-wrap: wrap;
  /* gap: 30px;*/
}

.wrapper__im {
  width: 170px;
  height: 92px;
  background: var(--main-icn-cololor);
}

.link__sots {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--main-so-color);
  fill: var(--main-icon-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link__sots:hover, .link__sots:focus {
  fill: var(--main-sir-color);
  background-color: var(--main-one-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sotsial__list {
  gap: 10px;
}

@media screen and (min-width: 768px) {
  .section__menu {
    padding-top: 94px;
  }
}

.portfolio-items__btn {
  height: 38px;
  top: 180px;
  left: 979px;
  background: var(--main-so-color);
  margin: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.portfolio-items__btn:hover {
  background-color: var(--main-one-color);
  color: var(--main-sir-color);
  transition-duration: 0.5s;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-items__btn:focus {
  background-color: var(--main-one-color);
  color: var(--main-sir-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-items__btn-a {
  width: 73px;
}

.portfolio-items__btn-b {
  width: 125px;
}

.portfolio-items__btn-c {
  width: 112px;
}

.portfolio-items__btn-d {
  width: 103px;
}

.portfolio-items__btn-i {
  width: 130px;
}

@media screen and (min-width: 768px) {
  .items {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .items {
    padding-bottom: 66px;
    padding-top: 100px;
  }
}
@media screen and (min-width: 768px) and (min-width: 768px) and (max-width: 1199px) {
  .items {
    padding-top: 66px;
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 350px) and (max-width: 767px) {
  .items {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 66px;
    margin-bottom: 40px;
  }
}

.portfolio-list__widget {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: var(--main-to-color);
}

.portfolio-list__aside {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--main-se-color);
  margin-bottom: 4px;
}

.portfolio-list {
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
}
.portfolio-list__item:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
@media screen and (min-width: 350px) and (max-width: 1199px) {
  .portfolio-list {
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-list {
    padding-bottom: 94px;
  }
}

.box-p {
  margin-top: 0px;
}

.portfolio-list__card-text {
  border: 0px;
  padding-left: 24px;
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
}

@media screen and (min-width: 350px) and (max-width: 767px) {
  li.portfolio-list__item {
    width: 450px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  li.portfolio-list__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  li.portfolio-list__item {
    width: 370px;
  }
}

/* mobale*/
.menu-mobile {
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: baseline;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .menu-mobile {
    display: none;
  }
}

.menu {
  display: flex;
  padding: 0;
  margin: 0;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}
.menu .link {
  text-decoration: none;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: white;
  cursor: pointer;
  border: none;
  outline: none;
  flex-direction: column;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: var(--main-sir-color);
  z-index: 999;
  transform: translateX(-150%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 21px;
  right: 25px;
  color: #fff;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu .link {
  display: block;
  text-decoration: none;
}

.mobile-menu__sots {
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--main-one-color);
}

.menu-mobile__list-tel {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--main-one-color);
  margin-bottom: 32px;
}
@media screen and (min-width: 320px) and (max-width: 400px) {
  .menu-mobile__list-tel {
    font-size: 28px;
  }
}

.menu-mobile__list-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--main-to-color);
}

.mobile-menu__navigation {
  display: block;
}

.link-navigation {
  display: block;
  font-weight: 500;
  font-size: 46px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
}

.menu-mobile__link-sots {
  display: flex;
  gap: 10px;
}

.menu-mobile__wrappper-mail {
  margin-bottom: 64px;
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-blue {
  color: #2196F3;
}

.mobile-menu__navigation-studi {
  margin-bottom: 36px;
}

.mobile-menu__navigation-port {
  margin-bottom: 32px;
}

.menu-mobile__list-tel, .menu-mobile__list-mail {
  display: block;
}

.blue__link-navigation, .menu-mobile__sots {
  color: var(--main-one-color);
}

.menu-mobile__sots {
  height: 22px;
  margin-bottom: 32px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 320px) and (max-width: 430px) {
  .menu-mobile__sots {
    font-size: 10px;
  }
}

.menu-mobile__sots.sots-pading {
  border: 0px;
  padding: 0;
}

/*
.li-tehnology {
    flex-basis: calc(100%-30px*3)/4;
} *//*# sourceMappingURL=main.css.map */