.revievs {
    @media screen and (max-width: 1199px) {
      display: none;}
}

.section-foto__list{
    display: flex; 
   justify-content: space-between ; 
 
}
.section-foto__title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    color: var(--main-sir-color);
    text-transform: uppercase;
}
.section-foto__wraper {
    width: 370px;
    padding: 0px;
    position: absolute;
    text-align: center;
    padding-top: 27px;
    padding-bottom: 27px;
    background: rgba(47, 48, 58, 0.8);
    left: 0;
    bottom: 0;
}
.section-foto__link{
    position: relative ; 
}
