%flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

%margin-auto {
    margin-left: auto;
    margin-right: auto;
}

%pading15 {
    padding-left: 15px; 
    padding-right: 15px; 
}