:root {
    --main-one-color: #2196F3;
    --main-to-color:  #757575;
    --main-sir-color:  #FFFFFF;
    --main-fa-color: #2F303A;
    --main-se-color:  #212121;
    --main-so-color:  #F5F4FA ;
    --main-sr-color:  #000000;
    --main-btn-color:  #188CE8;
    --main-icn-cololor:#F5F5F5;
    --main-icon-color: #AFB1B8;

  }